.header {
    position: fixed;

    width: 100%;
    height: 60px;
    padding: 25px;

    border-bottom: 1px solid #d8d8d8;
    background-color: white;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search {
    margin-right: 20px;
}


.headerRight {
    display: flex;
    align-items: center;
}
