<div class="shoutout">
  <div class="overlay"></div>
  <div class="container">
    <div class="panel">
      <div class="panel-body">
        <div class="slogan">Find your next favorite book.</div>
      </div>
    </div>

    {{#unless currentUser}}
      {{ view "components/sign_up" }}
    {{/unless}}
  </div>
  <div class="clearfix"></div>
</div>

<div class="container">
  {{#if currentUser}}
    <div class="h1 page-header">Recommended</div>
  {{/if}}

  {{#unless currentUser}}
    <div class="h1 page-header">Popular</div>
  {{/unless}}

  <div class="h1 page-header">Find books</div>
</div>
