<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
  </ol>

  <div class="carousel-inner">
  </div>

  <!-- controls -->
</div>

<div style="margin-top: 20px"></div>
<h1>better<strong>reads</strong></h1>
<p>Better reads was created to make a more responsive, better user experience around <a href="//www.goodreads.com">Good Reads</a>.</p>


<p>{{copyright "2014"}}</p>
