<nav class="navbar navbar-default navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a href="/" class="navbar-brand">better<strong>reads</strong></a>

      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="/login">login</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
